
<h1 align="center" style="color:rgb(236, 18, 18);">RVM hospital </h1>
<h5 align="center" style="color:green">12-3-409, laxmakkapalli,vontimamidi,telangana </h5>
<hr>
<br>
<h4 style="color:blue">Overview</h4>
<p>
    R.V.M HOSPITAL is an excellent well-equipped hospital that offers high quality medical care to men, women and children.
<ol type="1">
    <li> RVM hospital in the year 1950</li>
    
<p>
    The Royal Victorian Medal (RVM) is a decoration established by Queen Victoria in April 1896. On 14 May 1912, King George V further confirmed the institution of the medal with an additional royal warrant.</p>
<img src="https://cdn.apollohospitals.com/dev-apollohospitals/2022/01/surgery_banner-1.png">
<h3 align="center">Helping patients and their families make an informed decision</h3>
<p>At RVM Hospitals, we believe that consumers should know, long before they get their bill, what a hospital will charge for the services provided. As part of our effort to increase price transparency, Apollo Hospitals introduced Apollo Surgery, a surgical package program with assured pricing.</p>
<br>
<p>The RVM Surgery program, backed by the trust built over three decades, is committed to providing guaranteed (assured) price transparency for any surgery to help patients and their families make the most informed decision for their healthcare needs. Using the most innovative technology and surgical procedures, specialists, nurses and the staff at Apollo Hospitals work together closely to ensure that surgeries are handled with the utmost professionalism, always keeping in mind the well-being and comfortable recovery of a patient.

</p>













