<style>
    hr{
border:2px solid rgb(226, 22, 22);
margin-bottom:50px;
}

</style>
<div align="center">
    <h5>Login</h5>
    <br />
    <fieldset>     
        <div class="col-sm-4">
    <form  method="post">
 
      
<div alight="left">
    
    <form>
        <label for="usnm">User Name:</label>
        <input type="text" id="usnm" placeholder="emailId/userId">
        <br>
        <br>
        <label for="pwd">Password:</label>
        <input type="password" id="pwd" placeholder="password"><br><br>
        <input type="submit" value="submit"></form>
            
